@import '../../variables.scss';

.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 20px;
  padding: 5px;
  box-shadow: $box-shadow;
  .todo-name {
    font-weight: 500;
    font-size: 18px;
  }
  .close-icon {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}