@import '../../variables.scss';

.todo-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: $box-shadow;
  width: fit-content;
  .todo-text {
    font-weight: 500;
    margin-right: 20px;
  }
  .todo-button {
    margin-left: 20px;
  }
}